.DS_Store
node_modules


Breakpoints_v2.xcbkptlist

UserInterfaceState.xcuserstate

/objective_c/objc1/objc1.xcodeproj/project.xcworkspace/xcuserdata/sea_field.xcuserdatad/UserInterfaceState.xcuserstate

/objective_c/console/console.xcodeproj/project.xcworkspace/xcuserdata/sea_field.xcuserdatad/UserInterfaceState.xcuserstate

/objective_c/console/console.xcodeproj/xcuserdata/sea_field.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

/objective_c/objc1/objc1.xcodeproj/xcuserdata/sea_field.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

/objective_c/console/console.xcodeproj/project.xcworkspace/xcshareddata/console.xccheckout

/objective_c/.DS_Store
